//.about{
   // margin: 35px;
  //  width:80px;
  //  padding: 30px 40px;
   // background-color:bisque;
    //color:blue;text-align: center;
//}
//body{
  //  background-color: skyblue;
//}
.img{
    margin:40px;
  width:150px;
  padding:10px 10px;
}
.text{
    margin:5px;
}
body{
  background-color: skyblue;
}