
<body>
<h3>Compare,check your eligibility and apply for credit cards online.</h3>
<h2>Type of employment</h2>


<div class="card" style="width: 18rem;height: 18rem;" >
  <div class="card-body card1">
    <h5 class="card-title salary1">Salaried</h5>
    <h6 class="card-subtitle mb-2 text-muted">Earn regular monthly income</h6>
    <button type="radio">Select</button>
  </div>
</div>

<div class="card" style="width: 18rem;height: 18rem;" >
  <div class="card-body card1">
    <h5 class="card-title salary1">Business Owner</h5>
    <h6 class="card-subtitle mb-2 text-muted">Run Own Business</h6>
    <button type="radio">Select</button>
  </div>
</div>


  </body>