body{

   background-color:skyblue;    
}
.gap{
    margin:55px;
}
.gap1{
   font-size:xx-large;
   color:blue;
    
}
.style{
    font-size: medium;
}
form{
    background-color: skyblue;
    padding:0px 30px;
}

button{
    border-radius: 50;
}
.style1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  x-large;
    font-weight: 150;
    color:blue;
    
}
h6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: 100;
}