
<body>
<br>
<P class="style1">
Internet Banking
</P>
<br>
<h6>Personal</h6>
<div class="card">
  <div class="card-body">
<form>

    <div class="form-group gap">
      
      <label class="style gap1" for="exampleInputEmail1">LoginID  :   </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <br>
      <br>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group gap">
      <label class="style gap1" for="exampleInputPassword1">Password  : </label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="button" class="btn btn-primary btn-lg btn-block">Sign In</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Register</button>
  </form>

  
    
    </div>
  </div>
  <h6>Corporate</h6>
<div class="card">
  <div class="card-body">
<form>

    <div class="form-group gap">
      
      <label class="style gap1" for="exampleInputEmail1">LoginID  :   </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <br>
      <br>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group gap">
      <label class="style gap1" for="exampleInputPassword1">Password  : </label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="button" class="btn btn-primary btn-lg btn-block">Sign In</button>
    
  </form>
  </div>
  </div>
  </body>