.about{
    margin: 35px;
    width:80px;
    padding: 30px 40px;
    background-color:bisque;
    color:blue;text-align: center;
}
body{
    background-color: skyblue;
}
.about2{
    margin: 35px;
    width:80px;
    padding: 30px 40px;
    background-color:grey;
    color:black;text-align: center;
}