body{
    background-color: skyblue;
    margin:0%;
}
.para{
    color:blue;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:1000;
    font-style: italic;
    }